<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> QuizNGo</title>
    <link rel = "stylesheet" type="text/css"
          href="/resources/css/regNGo.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/javascript/login.js"></script>
    <script type="text/javascript" src="/resources/javascript/booking.js"></script>
</head>
<body>
<header>
    <h1 th:if= "${user.prefName != null}" th:text="'(' + ${user.prefName}  + ')"></h1>
    <h1 th:text="${user.givenName} + ' ' + ${user.lastName}"></h1>
</header>
<br/>

<input type ="submit"  value="Report" onclick="location.href='/report/lecture'"/>  <br/> <br/>
<div>
    <form action="#" th:action="@{/admin/{id}/upload(id=${user.userID})}" method="post" enctype="multipart/form-data">
        <label for="fileChooser">File to upload: </label>
        <input id="fileChooser" type="file" name="file" accept=".csv" />
        <br>
        <label for="importType">Import Type</label>
        <select id="importType">
            <option value="booking">Booking Import</option>
            <option value="classlist">Classlist Import</option>
            <option value="unit">Unit Import</option>
            <option value="staff">Staff Import</option>
            <option value="student">Student Import</option>
        </select>
        <br>
        <input type="submit" value="Upload" />
        <br>
        <br>
    </form>
</div>
<a href="javascript: document.logoutForm.submit()" role="button" id="logoutButton"> Logout</a>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
</body>
</html>

