<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title> QuizNGo</title>
        <link rel = "stylesheet" type="text/css"
            href="/resources/css/regNGo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/resources/javascript/login.js"></script>
        <script type="text/javascript" src="/resources/javascript/booking.js"></script>
  </head>
  <body>
    <div id="welcome_div">
        <table>
            <thead>
            <tr>
                <th>Attendance Code</th>
                <th>Date</th>
                <th>Time</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Room</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${booking.attendanceCode}"></td>
                <td th:text="${booking.date}"></td>
                <td th:text="${booking.time}"></td>
                <td th:text="${booking.venue.building}"></td>
                <td th:text="${booking.venue.floor}"></td>
                <td th:text="${booking.venue.room}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript" th:if="${booking != null}">
        var interval;
        function getQuestion() {
            $.ajax({
                type: "POST",
                url : '/booking/getquestion',
                success: function (data) {
                    if ($(data).filter('#waiting').length == 0) {
                        $('#questions').html(data);
                    }else{
                        $.ajax({
                            type: "POST",
                            url : '/booking/gettimeout',
                            success: function (data) {
                                if(data == 1){
                                    document.getElementById("submitButton").disabled = true;
                                }
                            }
                        });
                    }
                    interval = setTimeout(getQuestion, 1000);
                }
            });
        }
        getQuestion();

    </script>

    <div id="questions" th:fragment="questionList">
        <!--<p class="timer" th:if="${timer != null}">Time will end in <span class="js-timeout" id="js-timeout" th:text="${timer}"></span></p><br/>-->
        <th:block th:if= "${questions != null}">
            <span th:text="${questions.description}"></span>
            <form action="#" th:action="@{/booking/answer}" th:object="${answer}" method="post">
                <table id="questionList">
                    <th:block th:each="multipleChoice : ${multipleChoices}">
                        <tr>
                            <td th:text="${multipleChoice.description}"></td>
                            <td><input type="checkbox" th:field="*{answerID}" th:value="${multipleChoice.answerID}"/></td>
                        </tr>
                    </th:block>
                </table>
                <input type="submit" value="submit" id="submitButton"/>
            </form>
        </th:block>
    </div>
    <span id="waiting" th:fragment="waitingForChange"></span>
 </body>
</html>

