<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title> QuizNGo</title>
        <link rel = "stylesheet" type="text/css"
            href="/resources/css/regNGo.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/resources/javascript/login.js"></script>
        <script type="text/javascript" src="/resources/javascript/booking.js"></script>
  </head>
  <body>
    <div id="welcome_div">
        <table>
            <thead>
            <tr>
                <th>Attendance Code</th>
                <th>Date</th>
                <th>Time</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Room</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${booking.attendanceCode}"></td>
                <td th:text="${booking.date}"></td>
                <td th:text="${booking.time}"></td>
                <td th:text="${booking.venue.building}"></td>
                <td th:text="${booking.venue.floor}"></td>
                <td th:text="${booking.venue.room}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <script th:inline="javascript" th:if="${booking != null}">
        var interval;
        function getQuestion() {
            $.ajax({
                type: "POST",
                url : '/booking/getquestion',
                success: function (data) {
                    console.log(data);
                    $('#questions').html(data);
                    interval = setTimeout(getQuestion, 1000);
                }
            });
        }
        getQuestion();
    </script>

    <div id="questions" th:fragment="questionList">
        <th:block th:if= "${questions != null}">
            <span th:text="${questions.description}"></span>
            <table id="questionList">
                <th:block th:each="multipleChoice : ${multipleChoices}">
                    <tr>
                        <td th:text="${multipleChoice.description}"></td>
                    </tr>
                </th:block>
            </table>
        </th:block>
    </div>
 </body>
</html>

