<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> QuizNGo</title>
    <link rel = "stylesheet" type="text/css"
          href="/resources/css/regNGo.css">
    </link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<form maction="#" th:action="@{/booking/question/add}" th:object="${questionAdd}" method="post" enctype="multipart/form-data">
    <div id = "questionSelectCondition" >
        <label>Year:
            <select id="yearList" th:field="*{year}"></select>
        </label><br />
        <script th:inline="javascript">
            var min = new Date().getFullYear()-3,
            max = min + 6,
            select = document.getElementById('yearList');

            for (var i = min; i<=max; i++){
                var opt = document.createElement('option');
                opt.value = i;
                opt.innerHTML = i;
                select.appendChild(opt);
            }
            $('#yearList').val(new Date().getFullYear());
         </script>


        <script th:inline="javascript">
            function getUnit() {
                $.ajax({
                    type: "POST",
                    url : '/booking/question/getunit',
                    data: { year: $("#yearList option:selected").val(),
                            semesterID: $("#semesterList option:selected").val() },
                    success: function (data) {
                        $('#unit').html(data);
                    }
                });
            }
        </script>
        <label>Semester: </label>
            <select id="semesterList" onchange="getUnit();" th:field="*{semesterID}">
                <option th:value="-1" value="">select semester</option>
                <option th:each="semester : ${semesters}" th:value="${semester.semesterID}" th:text="${semester.description}" value=""></option>
            </select>
        </label><br />

        <script th:inline="javascript">
            function getBooking() {
                $.ajax({
                    type: "POST",
                    url : '/booking/question/getbooking',
                    data: { unitID: $("#unitList option:selected").val() },
                    success: function (data) {
                        $('#booking').html(data);
                    }
                });
            }
        </script>
        <div id="unit" th:fragment="unitSelect(questionAdd)">
            <label>Unit  Name:
                <select id="unitList" onchange="getBooking();" th:field="${questionAdd.unitID}">
                    <option th:value="-1" value="">select unit name</option>
                    <option th:each="unit : ${units}" th:value="${unit.unitID}" th:text="${unit.unitCode}+' '+${unit.unitName}" value=""></option>
                </select>
            </label><br />
        </div>

        <div id="booking" th:fragment="bookingSelect(questionAdd)">
            <label>Please select booking information:location, date and start time: <br/>
                <select id="bookingList" size=4 th:field="${questionAdd.bookingID}">
                    <option th:each="booking : ${bookings}" th:value="${booking.bookingID}" th:text="'Room: '+${booking.venue.building} + '.' + ${booking.venue.floor} + '.' + ${booking.venue.room} + ' - Time: ' + ${booking.date} + ' ' + ${booking.time}" value=""></option>
                </select>
            </label><br />
        </div>
    </div>
        <br>
        <a href="/resources/file/question_template.xlsx" download>Question Template</a>
        <br>
        <br>
        <label for="fileChooser">File to upload: </label>
        <input id="fileChooser" type="file" name="file" accept=".xlsx" />
        <br>
        <p style="color: green" th:if="${success != null}">Upload Successful</p>
        <p style="color: red" th:if="${failed != null}">Upload Failed</p>
        <input type ="submit" value="Add"/>
        <input type="button"  onclick="location.href='/'" value="Back" >
</form>
</body>
</html>