<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> QuizNGo</title>
    <link rel = "stylesheet" type="text/css"
          href="/resources/css/regNGo.css">
    </link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<form maction="#" th:action="@{/booking/savequestion}" th:object="${questionAdd}" method="post" >
    <div id = "questionSelectCondition" >
        <script th:inline="javascript">
            function getYear() {
                $.ajax({
                    type: "POST",
                    url : '/booking/addquestion/getyear',
                    data: { semesterID: $("#semesterList option:selected").val() },
                    success: function (data) {
                        $('#year').html(data);
                    }
                });
            }
        </script>
        <label>Semester</label>
            <select id="semesterList" onchange="getYear();">
                <option value=" ">select semester</option>
                <option th:each="semester : ${semesters}" th:value="${semester.semesterID}" th:text="${semester.description}"></option>
            </select>
        </label><br />


        <script th:inline="javascript">
            function getUnit() {
                $.ajax({
                    type: "POST",
                    url : '/booking/addquestion/getunit',
                    data: { year: $("#yearList option:selected").val() },
                    success: function (data) {
                        $('#unit').html(data);
                    }
                });
            }
        </script>
        <div id="year" th:fragment="yearSelect">
            <th:block th:if="${years != null}">
                <label>Year:
                    <select id="yearList" onchange="getUnit();">
                        <option value=" ">select year</option>
                        <option th:each="year : ${years}" th:value="${year.year}" th:text="${year.year}"></option>
                    </select>
                </label><br />
            </th:block>
        </div>

        <script th:inline="javascript">
            function getBooking() {
                $.ajax({
                    type: "POST",
                    url : '/booking/addquestion/getbooking',
                    data: { unitID: $("#unitList option:selected").val() },
                    success: function (data) {
                        $('#booking').html(data);
                    }
                });
            }
        </script>
        <div id="unit" th:fragment="unitSelect">
            <th:block th:if="${units != null}">
                <label>Unit  Name:
                    <select id="unitList" onchange="getBooking();">
                        <option value=" ">select unit name</option>
                        <option th:each="unit : ${units}" th:value="${unit.unitID}" th:text="${unit.unitCode}+' '+${unit.unitName}"></option>
                    </select>
                </label><br />
            </th:block>
        </div>

        <div id="booking" th:fragment="bookingSelect">
            <th:block th:if="${bookings != null}">
                <label>Please select booking information:location, date and start time: <br/>
                    <select id="bookingList" size=4 >
                        <option th:each="booking : ${bookings}" th:value="${booking.bookingID}" th:text="'Room: '+${booking.venue.building} + '.' + ${booking.venue.floor} + '.' + ${booking.venue.room} + ' - Time: ' + ${booking.date} + ' ' + ${booking.time}"></option>
                    </select>
                </label><br />
            </th:block>
        </div>
    </div>
    <div id="uploadQuestion"><br/>
        <!--<label>Question Number</label>
        <select class = "QuestionNumber">
            <option value="QuestionNumber">1</option>
            <option value="QuestionNumber">2</option>
            <option value="QuestionNumber">3</option>
            <option value="QuestionNumber">4</option>
            <option value="QuestionNumber">5</option>
        </select><br/>-->

        <label> Question Topic</label> <input type="text" name="questionTopic" placeholder="Question Topic here"><br/> <br/>
        <label> Question type:</label> <input type="radio" name="questionType" value="True/false"> True/false
        <input type="radio" name="questionType" value="textType"> Text<br><br/>
        <div id="textAnswer">
            <label> Answer A: </label> <input type="text" name="answer A" placeholder="Type anser A here"><br/>
            <label> Answer B: </label> <input type="text" name="answer B" placeholder="Type anser B here"><br/>
            <label> Answer C: </label> <input type="text" name="answer C" placeholder="Type anser C here"><br/>
            <label> Answer D: </label> <input type="text" name="answer D" placeholder="Type anser D here"><br/>     <br/>
        </div>
        <label> Correct Answer : </label> <br/>
        <div id="textCorrectAnswer" >
            <input type="checkbox" name="answerA" value="A">A
            <input type="checkbox" name="answerB" value="B">B
            <input type="checkbox" name="answerC" value="C"> C
            <input type="checkbox" name="answerD" value="D"> D <br/><br/>
        </div>
        <div id="tOFAnswer">
            <input type="radio" name="answerTrue" value="True"> True
            <input type="radio" name="answerFalse" value="False"> False <br/><br/>
        </div>
        <input type ="submit" value="Add" onclick="addQuestion()"/>

        <input type ="submit" value="Save" onclick="saveQuestion()"/>

        <input type="button"  onclick="location.href='/'" value="Back" >

</form>

</body>
</html>