<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> QuizNGo</title>
    <link rel = "stylesheet" type="text/css"
          href="/resources/css/regNGo.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/resources/javascript/login.js"></script>
    <script type="text/javascript" src="/resources/javascript/booking.js"></script>
</head>
<body onload="booking_info();">
    <th:block th:if= "${booking != null}">
        <h1 th:text="'Attendance Code: '+${booking.attendanceCode}"></h1>
        <th:block th:if="${finished == null}">
            <th:block th:if= "${questions == null}">
                <a href="javascript: document.startQuestions.submit()" role="button" id="startQuestions">Display Question</a>
                <form name="startQuestions" th:action="@{/booking/{id}/question(id=${booking.bookingID})}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Display Question"/>
                </form>
            </th:block>
            <th:block th:if= "${questions != null}">
                <a href="javascript: document.nextQuestions.submit()" role="button" id="nextQuestions">Next Question</a>
                <form name="nextQuestions" th:action="@{/booking/{id}/question/{qid}(id=${booking.bookingID}, qid=${questionid})}" method="post" th:hidden="true">
                    <input hidden type="submit" value="nextQuestions"/>
                </form>
            </th:block>
        </th:block>
    </th:block>
    <script th:inline="javascript" th:if="${timer != null}">
        var x = setInterval( function()
       {
          var timer = $('.js-timeout').html();
          var seconds = timer;
          if(seconds > 0){
            seconds -= 1;
          }

          $('.js-timeout').html(seconds);

          if (seconds <= 0)
          {
            clearInterval(x);
            $.ajax({
                type: "POST",
                url : '/booking/settimeout',
                data: { timer: 1, bookingID:
                        [# th:if="${booking != null }"]
                            /*[[${booking.bookingID}]]*/ 'bookingID'
                        [/]
                        }
            });
          }
      }, 1000);
    </script>

    <div id="questions" th:if= "${questions != null}">
        <p class="timer" th:if="${timer != null}">Time will end in <span class="js-timeout" id="js-timeout" th:text="${timer}"></span></p><br/>
        <span th:text="${questions.description}"></span>
        <table>
            <th:block th:each="multipleChoice : ${multipleChoices}">
                <tr>
                    <td th:text="${multipleChoice.description}"></td>
                </tr>
            </th:block>
        </table>
    </div>
    <th:block th:if="${finished != null}">
        <span>
            Quiz Finished
        </span>
        <div id="charts_target"></div>

        <script th:inline="javascript" th:if="${booking_id != null}">
            $.ajax({
                type: "POST",
                url : '/booking/getquestionoverview',
                data: { bookingID:
                        [# th:if="${booking_id != null }"]
                            /*[[${booking_id}]]*/
                        [/]
                    },
                success: function (data) {
                    $.each( data, function(index,value){
                        google.charts.load('current', {'packages':['corechart']});
                        google.setOnLoadCallback(drawChart);

                        function drawChart() {
                            var data = new google.visualization.DataTable();
                            data.addColumn('string', '');
                            data.addColumn('number', '');
                            data.addColumn({ type: 'string', role: 'style' });
                            data.addRows(Object.keys(value).length);
                            var counter = 0;
                            $.each( value, function(vindex,vvalue){
                                data.setValue(counter, 0, vindex);
                                data.setValue(counter, 1, vvalue);
                                counter++;
                            })
                            counter = 0;


                            var options = {
                                title: index,
                                backgroundColor: { fill:'transparent' },
                                legend: 'none',
                            };

                            var div_element = document.createElement("div");
                            div_element.id = index+"_chart";
                            document.getElementById("charts_target").append(div_element);
                            var chart = new google.visualization.ColumnChart(document.getElementById(index+"_chart"));
                            chart.draw(data, options);
                        }
                    })
                }
            });
        </script>
    </th:block>

    <script th:inline="javascript" th:if="${booking != null}">
        var interval;
        function getAttendance() {
            $.ajax({
                type: "POST",
                url : '/booking/getattendance',
                data: { bookingID:
                        [# th:if="${booking != null }"]
                            /*[[${booking.bookingID}]]*/ 'bookingID'
                        [/]
                    },
                success: function (data) {
                    $('#attendance_count').html("Attending: "+data);
                    interval = setTimeout(getAttendance, 1000);
                }
            });
        }
        getAttendance();
    </script>

    <script th:inline="javascript" th:if="${finished == null}">
        var studentAnswerInt;
        function getStudentAnswers() {
            $.ajax({
                type: "POST",
                url : '/booking/getstudentanswers',
                data: { bookingID:
                        [# th:if="${booking != null }"]
                            /*[[${booking.bookingID}]]*/ 'bookingID'
                        [/]
                    },
                success: function (data) {
                    if(data.length != 0){
                        $('#answerCounter').html(data);
                    }
                    studentAnswerInt = setTimeout(getStudentAnswers, 1000);
                }
            });
        }
        getStudentAnswers();
    </script>

    <h4 id="attendance_count"></h4>


    <script th:inline="javascript" th:if="${booking != null}">
            google.charts.load('current', {'packages':['corechart']});
            google.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', 'Quiz Answers');
                data.addColumn('number', 'Attending');
                data.addColumn({ type: 'string', role: 'style' });
                data.addRows(2);
                data.setValue(0, 0, 'Attending');
                data.setValue(0, 2, 'rgb(200, 20, 60)');
                data.setValue(1, 0, 'Answers');


                var interval;
                function getAttendance() {
                    $.ajax({
                        type: "POST",
                        url : '/booking/getanswerattendance',
                        data: { bookingID:
                                [# th:if="${booking != null }"]
                                    /*[[${booking.bookingID}]]*/ 'bookingID'
                                [/]
                            },
                        success: function (value) {
                            if(value[0] > 0){
                                data.setValue(0, 1, value[0], 'Attending');
                                data.setValue(1, 1, value[1]);
                                chart.draw(data, options);
                            }
                            interval = setTimeout(getAttendance, 1000);
                        }
                    });
                }
                getAttendance();


                var options = {
                    title: 'Attending vs Answers',
                    backgroundColor: { fill:'transparent' },
                    legend: 'none',
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
    </script>



    <div id="chart_div" style="width: 900px; height: 500px;"></div>

    <div id="answerCounter" th:fragment="studentAnswer">

        <table>
            <th:block >
                <tr th:each="studentAnswer : ${studentAnswers}">
                    <td th:text="${studentAnswer.key}"></td>
                    <td th:each="answer : ${studentAnswer}">
                        <p th:text="${answer.key}"></p>
                        <p th:text="${answer.value}"></p>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
    <input type="button"  onclick="location.href='/booking/'" value="Back" >
</body>
</html>

