<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html>
<body>
    <header>
          <div class="header_banner">
              <img src="/resources/image/QuiztasticLogo.png" alt="logo" />
              <h1>QuizTastic’s RegNGo</h1><br/>
          </div>
      </header>
<h1>Something went wrong! </h1>
<h2>Our Engineers are on it</h2>
<input type="image" src="/resources/image/upps.jpg" alt="Upps">
<br>
<a href="/">Go Home</a>
<div class="footer">
    © Team 9 QuizTastic's  Murdoch University

</div>
</body>
</html>