<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> QuizNGo</title>
     <link rel = "stylesheet" type="text/css"
		 href="../static/regNGo.css">
     </link>
  	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript">
		function login() {
			var userName = document.getElementById("userName").value;
			var password = document.getElementById("password").value;
			$.ajax({
				type: "POST",
				url : '/login',
				data: { userid: userName, password: password},
				success : function(data) {
					console.log(data);
					if(data == 1){
						window.location.href = '/student';
					}else{
						window.location.href = '/staff';
					}
				}
			});
		}
	</script>

  </head>
  <body>
 	<header>
 		<h1>Login </h1>
	</header>
  	<br/>
	<p class="login">
	<label>User Name:
		<input type = "text" name = "userName" id="userName" onblur = "checkName()" />
	</label><br />
	<br/>
	<label>Password :
		<input type = "text" name="password" id="password" onblur = "checkPassword()"  />
	</label><br />
	<br/>
	<input type ="submit" value="Login" onclick="login();"/>
	<br/>
	<input type ="submit" value = "Import .csv File">
	</p>
 </body>
</html>

