<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> QuizNGo</title>
        <link rel = "stylesheet" type="text/css"
        href="../css/regNGo.css">
        </link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="javascript/login.js"></script>
  </head>
  <body>
 	<header>
 		<h1>Login </h1>
        </header>
	
  	<br/>
    <div class="login" id="login_form">

        <div class="alert alert-success alert-dismissible" id="logged_out_alert" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>
                <p>Logged Out</p>
            </span>
        </div>

        <div class="alert alert-danger alert-dismissible" id="logged_out_danger" style="display: none;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span>
                <p>Error Logging out!!!</p>
            </span>
        </div>

        <label>User Name:
        <input type = "text" name = "userName" id="userName" onblur = "checkName()" />
        </label><br />
        <br/>
        <label>Password :
        <input type = "text" name="password" id="password" onblur = "checkPassword()"  />
        </label><br />
        <br/>
        <input type ="submit" value="Login" onclick="login();"/>
        <br/>
        <input type ="submit" value = "Import .csv File" />
    </div>

    <div id="welcome_div" style="display: none;">
        <p>
            <label id = "welcome"> </label>
        </p>
        <input type ="submit" value="Logout" onclick="logout();"/>
    </div>

    <div id="staff_entry" style="display: none;">
        <h3>Booking Info Table</h3>
        <table id="booking_table">
            <thead>
            <tr>
                <th>Booking ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>AccessCode</th>
                <th>Booking Length</th>
                <th>Unit ID</th>
                <th>Venue ID</th>
                <th>User ID</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="mainOfStudent" style="display: none;">
    	<h3 id="welcomStudent">Welcome XXXXXXX</h3>
    	<form method="post"  action="" ><br/>
			<input type ="submit" value="View Report" /><br/>
			<input type ="submit" value = "Join a class">
		</form>
    </div>
    
	<div id="accessCodeEnter" style="display: none;">
		<form method="post"  action="" ><br/>
            <label>Access Code: 
            <input type = "text" name = "accessCode" id="accessCode" onblur = "checkAccessCode()" />
            </label><br /><br/>
            <input type ="submit" value="Go" />
            
		</form>
    </div>
    
    <div id="answerQuestion" style="display: none;">
    <form method="post"  action="" >
        <label name = "question" id = "question">Question topic displaying </label><br /><br/>
        <label> Answer: 
            <ul class = "listAnswerGroup" list-group-flush>
                <li class="listAnswerItem"><input type="checkbox" name="answer1" value="answer1"> Answer1 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer2" value="answer2"> Answer2 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer3" value="answer3"> Answer3 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer4" value="answer4"> Answer4 text<br></li>
            </ul>
        </label>    
        <br/>
		<input type ="submit" id="submitButton" value="Submit" />   <br/>
	</form>
    </div>
    
    <div id="studentReport" style="display: none;">
    	<form method=""  action="" >
            <label for="unitSelect">Select Unit: 
            <select id="unitSelect">
            </select></label> <br/>
            <label for="lectureWorkshopTime">Lecture/Workshop start time:
            <select id="lectureWorkshopTime">
                <option value ="time ">8:30</option>
            </select></label><br/><br/>
	        <input type="submit" value="Back to Main" onclick="backToMain()">
	        <input type="submit" value="Search" onclick="search()">
		</form>
		<div>
          <textArea cols="50 " rows="20">
                        Showing Report here
          </textArea>
      	</div>

    </div>
    
    <div id="mainOfLecture" style="display: none;">
      <form method="post"  action="" >
 		<input type ="submit"  value="Report" onclick="lectureReport()"/>  <br/> <br/>
        <input type ="submit"  value="Booking" onclick="booking()"/>   <br/><br/>       
		<input type ="submit"  value="Display Question" onclick="displayQuestion()"/>  
	  </form>
    </div>
    
    <div id="displayQuestion" style="display: none;">
        <label class ="displayAccessCode" id="displayAccessCode">Access Code: </label>
 		<p class="timer">Time will end in <span class="js-timeout" id="js-timeout">2:00</span></p><br/>  
		<form method="post"  action="" >
        		<label name = "question" id = "question">Question topic displaying </label><br /><br/>
        		<label> Answer: 
            	<ul class = "listAnswerGroup" list-group-flush>
                <li class="listAnswerItem"><input type="checkbox" name="answer1" value="answer1"> Answer1 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer2" value="answer2"> Answer2 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer3" value="answer3"> Answer3 text<br></li>
                <li class="listAnswerItem"><input type="checkbox" name="answer4" value="answer4"> Answer4 text<br></li>
            </ul>
        </label>    
        <br/>
          <input type ="button" id="nextQuestion" value="Next"  onclick="showNextQuestion()"/>  <br/>
		</form>
        <div>
            <label id="displayAnsweredNumber">Student answered: xx/ total </label>
        </div>
 
    </div>
    
    <div id="booking" style="display: none;">
    <input type="button" value ="Uploading Students Info" onclick="" />
      <input type="button" value ="DownLoad File" onclick="" /><br/>

	<form method="post"  action="" >
        <label>Venue Name:
        <input type = "text" name="venueName" id="venueName" onblur = ""  />
        </label><br />
        <label>Unit  Name:
        <input type = "text" name="unitName" id="unitName" onblur = ""  />
        </label><br /><br/>
        <label>Hours 
        	<input type = "text" name="duration" id="duration" /></label><br/>
        <label>Date and Start Time
        <input type="datetime-local" name="bdaytime" />        </label><br />
        	
        <div class="uploadQuestion">
            <label>Question Number</label> 
            <select class = "QuestionNumber">
              <option value="QuestionNumber">1</option>
              <option value="QuestionNumber">2</option>
              <option value="QuestionNumber">3</option>
              <option value="QuestionNumber">4</option>
              <option value="QuestionNumber">5</option>
            </select><br/>
            
            <label> Question Topic</label> <input type="text" name="questionTopic" value="Question Topic here"><br> 
            <label> Answer A: </label> <input type="text" name="answer A" value="Type anser A here"><br>  
            <label> Answer B: </label> <input type="text" name="answer B" value="Type anser B here"><br>      	
            <label> Answer C: </label> <input type="text" name="answer C" value="Type anser C here"><br>      	
            <label> Answer D: </label> <input type="text" name="answer D" value="Type anser D here"><br>      	
    	</div>
        <input type ="submit" value="Save" onclick="saveBooking();"/>        
	</form>
    </div>
    <div id="lectureReport" style="display: none;">
    	<form method=""  action="" >
            <label>Venue Name: 
            <select id="venueSelect">
                <option value =" ">Venue Name</option>
            </select></label> <br/>
            <label>Unit Name:
            <select id="unitSelect">
                <option value =" ">Unit Name</option>
            </select></label><br/>
            <label>Student Number:
            <select id="studentSelect">
                <option value =" ">student Name</option>
            </select></label>
            
            <br/>
            <input type="submit" value="Search" onclick="search();">
		</form>
      <div>
          Showing Report here
      </div>
    </div>

 </body>
</html>

