<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> QuizNGo</title>
     <link rel = "stylesheet" type="text/css"
           href="/resources/css/regNGo.css">
     </link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>      
    <script th:inline="javascript">
        function getReports() {
            $.ajax({
                type: "POST",
                url : '/report/getunitreport',
                data: { unitID: $("#unitSelect option:selected").val() },
                success: function (data) {
                    $('#reports').html(data);
                }
            });
        }
    </script>
    <label>Unit Name:
    <select id="unitSelect" onchange="getReports();">
        <option value="" >Select A Unit</option>
        <option th:each="unit : ${units}" th:value="${unit.unitID}" th:text="${unit.unitCode}+' '+${unit.unitName}+' '+${unit.semester.description}+' '+${unit.year}" value=""></option>
    </select></label><br/>
    <br/>
      <div id="reports" th:fragment="reportTable">
          <table>
              <thead>
                <tr>
                    <th>AttendanceReview</th>
                    <th>QuestionReview</th>
                </tr>
              </thead>
          <tbody>
              <tr th:each="attendanceReview : ${attendanceReviews}" >
                  <td th:text="${attendanceReview.date}" th:href="@{/report/csv/attendance/{unitID}(unitID=${attendanceReview.unitID})}"></td>
              </tr>
          <tr th:each="questionReview : ${questionReviews}">
              <td th:text="${questionReview}"
          </tr>
          </tbody>
          </table>
      </div>
      <div th:if="${empty != null}">
        No Attendance Reviews
      </div>
    <input type="button"  onclick="location.href='/'" value="Back" >
  </body>
</html>