<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title> QuizNGo</title>
     <link rel = "stylesheet" type="text/css"
           href="/resources/css/regNGo.css">
     </link>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>  
      <header>
          <div class="header_banner">
              <img src="/resources/image/QuiztasticLogo.png" alt="logo" />
              <h1>QuizTastic’s RegNGo</h1><br/>
          </div>
      </header>
    <script th:inline="javascript">
        function getAttReports() {
            $.ajax({
                type: "POST",
                url : '/report/getattreport',
                data: { unitID: $("#unitSelect option:selected").val() },
                success: function (data) {
                    console.log(data);
                    $('#reports').html(data);
                }
            });
        }
    </script>
    <div id="lectureReport">
    <label>Units:
    <select id="unitSelect" onchange="getAttReports();">
        <option value="" >Select A Unit</option>
        <option th:each="unit : ${units}" th:value="${unit.unitID}" th:text="${unit.unitCode}+' '+${unit.unitName}+' '+${unit.semester.description}+' '+${unit.year}" value=""></option>
    </select></label><br/>
    </div>
    <!--<script th:inline="javascript">
        function getQueReports() {
            $.ajax({
                type: "POST",
                url : '/report/getquereport',
                data: { bookingID: $("#bookingSelect option:selected").val() },
                success: function (data) {
                    $('#questionReview').html(data);
                }
            });
        }
    </script>
    <label for="bookingSelect">Bookings:</label>
        <select id="bookingSelect" onchange="getQueReports();" th:if="${bookings != null}">
            <option value="" >Select A Booking</option>
            <option th:each="booking : ${bookings}" th:value="${booking.bookingID}" th:text="${booking.date}+' '+${booking.time}+' '+${booking.venue.building}+'.'+${booking.venue.floor}+'.'+${booking.venue.room}" value=""></option>
        </select><br/>
        <br/>-->
    <div id="reports" th:fragment="attendanceReport" style="margin: auto;">
        <div id="attendanceReview" style="width:600px; display:inline;">
            <table>
              <thead>
                <tr>
                    <th>AttendanceReview</th>
                </tr>
              </thead>
            <tbody>
                <tr th:each="attendanceReview : ${attendanceReviews}" >
                    <td>
                      <a th:text="${attendanceReview.date}" th:href="@{/report/csv/attendance/{unitID}/{date}(unitID=${attendanceReview.unitID}, date=${attendanceReview.date})}"></a>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
        <div id="questionReview" style="width:600px; display:inline;">
            <table>
                <thead>
                    <tr>
                        <th>QuestionReview</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${bookings != null}" th:each="booking : ${bookings}">
                        <td>
                            <a th:text="${booking.date}+' '+${booking.time}+' '+${booking.venue.building}+'.'+${booking.venue.floor}+'.'+${booking.venue.floor}" th:href="@{/report/csv/questionreview/{bookingID}(bookingID=${booking.bookingID})}"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      <div th:if="${empty != null}">
        No Attendance Reviews
      </div>
    <input type="button"  onclick="location.href='/'" value="Back" >
    <div class="footer">
        © Team 9 QuizTastic's  Murdoch University

    </div>
  </body>
</html>