<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title> QuizNGo</title>
    <link type="text/css" href="/resources/css/regNGo.css" rel="stylesheet"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/resources/javascript/login.js"></script>
</head>
<body>
    <header>       
        <div class="header_banner">
            <img src="/resources/image/QuiztasticLogo.png" alt="logo" />
            <h1>QuizTastic’s RegNGo</h1><br/>          
        </div>
    </header>
    <div class="login" id="login_form">
        <h2>Login </h2>
        <span th:if= "${logout!= null}" id="logged_out_alert" style="color:green">
                <p>Logged Out</p>
        </span>
        <span th:if= "${logout_err != null}" id="logged_out_danger" style="color:red">
                <p>Error Logging out!!!</p>
        </span>
        <span th:if= "${error != null}" id="log_in_error" style="color:red">
                <p>Error Logging in!!!</p>
            </span>
        <div>
            <form action="#" th:action="@{/login}" th:object="${login}" method="post" id="loginForm">
                <label for="userID">UserName</label><br />
                <input type="text" name="userID" id="userID" onblur = "checkName()" placeholder="User ID"/>
                <br />
                <label for="password">Password</label><br />
                <input type="text" name="password" id="password" onblur = "checkPassword()"  placeholder="Password"/>
                <br />
                <input type="submit" value="Login">
            </form>
        </div>
        <!--<input type ="submit" value = "Import .csv File" />-->
    </div>
    <div class="footer">
        © Team 9 QuizTastic's  Murdoch University
    </div>
</body>
</html>

