<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <title> QuizNGo</title>
        <link rel = "stylesheet" type="text/css"
            href="/resources/css/regNGo.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/resources/javascript/login.js"></script>
        <script type="text/javascript" src="/resources/javascript/booking.js"></script>
  </head>
  <body>
      <header>
          <div class="header_banner">
              <img src="/resources/image/QuiztasticLogo.png" alt="logo" />
              <h1>QuizTastic’s RegNGo</h1><br/>
          </div>
      </header>
      <div id="staffMain">
          <h1 th:if= "${user.prefName != null}" th:text="'(' + ${user.prefName}  + ')"></h1>
          <h1 th:text="${user.givenName} + ' ' + ${user.lastName}"></h1>
      </div>
    <br/>

    <input type ="submit"  value="Report" onclick="location.href='/report/lecture'"/>  <br/>
    <input type ="submit"  value="Add Questions" onclick="location.href='/booking/question/new'"/>  <br/>
    <input type ="submit"  value="Booking" onclick="location.href='/booking/'"/>   <br/> <br/> <br/>
    <a href="javascript: document.logoutForm.submit()" role="button" id="logoutButton"> Logout</a>
    <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
        <input hidden type="submit" value="Sign Out"/>
    </form>
    <div class="footer">
        © Team 9 QuizTastic's  Murdoch University

    </div>
  </body>
</html>

